.main-container {
  padding: 0 0 5px;
  background: image-url('notebook-loop.png');
  position: relative;
}

.col-main {
  float: none;
  width: auto;
}


.shadow {
  width: 768px;
  position: absolute;
  top: 28px;
  -moz-box-shadow: 14px 14px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 14px 14px 10px rgba(0,0,0,0.5);
  box-shadow: 14px 14px 10px rgba(0,0,0,0.5);
}
