    <!-- header start here -->     
    <header class="clearfix">
        <div class="col-sm-12">
          <h1 class="logo">
            <a class="logo" title="I and I Clothing" href="#">
              <img alt="I and I Clothing" src="images/site-logo.png" alt="">
            </a>
          </h1>
        </div>
    </header>